/*****************************************HOME************************************************/
div#home{
    div.container_calendar_navigation{
        display: flex;
        flex-direction: row;
    }
    div.container_calendar_navigation_sm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        div.arrow_navigation{
            display: none;
        }
        div.info_navigation{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                text-transform: uppercase;
            }

        }
    }
    div.row_calendar{
        margin-top: 150px;
    }
    @media (max-width: 564px) {
        div.container_calendar_navigation{
            flex-direction: column;
            button{
                display: none;
            }
        }
        div.container_calendar_navigation_sm{
            div.arrow_navigation{
                display: flex;
            }
        }
        div.row_calendar{
            margin-top: 260px;
        }
    }

}


/*****************************************EVENTO************************************************/
